<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="tax" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\student\Documents\Vasin_practika\Taxopark\Taxopark\Database1.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>